<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="logo">
                <a hef="home.html"><img src="https://tse2.mm.bing.net/th?id=OIP.WGxKfziBwzVumST-nlKPaQHaEK&pid=Api&P=0&w=274&h=155" alt="merkery_logo" class="hidden-xs hidden-sm">
                    <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                </a>
            </div>
            <div class="navi">
                <ul>
                    <li class="active"><a href="/admin/about"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">About</span></a></li>
                    <li><a href="/admin/background"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Background</span></a></li>
                    <li><a href="/admin/experience"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Work Experience</span></a></li>
                    <li><a href="/admin/project"><i class="fa fa-laptop" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Featured Projects</span></a></li>
                    <li><a href="/admin/skill"><i class="fa fa-trophy" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Skills</span></a></li>
                    <li><a href="/admin/formdata"><i class="fa fa-list-alt" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Complete</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-sm-11 display-table-cell v-align">
            <div class="row">
                <header>
                    <div class="col-md-7">
                        <nav class="navbar-default pull-left">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </nav>
                        <div class="details hidden-xs hidden-sm">
                          <h1>Fill out all your details below</h1>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="header-rightside">
                            <ul class="list-inline header-top pull-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" alt="user">
                                        <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                       
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
            </div>
