<%- include("_header.ejs") -%>
<body class="home">
    <%- include("_sidebar.ejs") -%>

                <!--  <div class="user-dashboard"> -->
                    <div class="container">
                        <!-- <h1>If previous work experience please mention.</h1> -->
                        <form action="skills" method='POST'>
                            
                                <div class="form-group">
                                    <label for="skills">Skills</label>
                                    <textarea type="text" class="form-control" id="skills" name = "skills1" placeholder="Describe your skills"></textarea>
                              </div>
                              
                              <div class="form-group">
                                <label for="skills">Skills</label>
                                <textarea type="text" class="form-control" id="skills" name = "skills2" placeholder="Describe your skills"></textarea>
                          </div>
                          
                          <div class="form-group">
                            <label for="skills">Skills</label>
                            <textarea type="text" class="form-control" id="skills" name = "skills3" placeholder="Describe your skills"></textarea>
                      </div>
                      
                      <div class="form-group">
                        <label for="skills">Skills</label>
                        <textarea type="text" class="form-control" id="skill4" name = "skills4" placeholder="Describe your skills"></textarea>
                  </div>
                            
                      <a href="/admin/formdata"><button type="submit" class="btn btn-primary">Continue</button></a>
                              
                           </form>

                       </div>
                </div>
            </div>
            
        </div>

    </div>



</body>

<html>